<%- include('../template/top') -%>
<div style="position: relative;top:88px;">
    <%- include('../template/left') -%>
    <div style="position: absolute;left: 187px;width: 86%;">
       <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">管理信息</a></li>
                <li><a href="#">管理员设置</a></li>
                <li><a href="#">管理员列表</a></li>
            </ul>
        </div>
            
        <div class="rightinfo">
            <div class="tools">
                <ul class="toolbar">
                    <li class="click"><span><img src="../images/t01.png" /></span>添加</li>
                    <li class="click"><span><img src="../images/t02.png" /></span>修改</li>
                    <li><span><img src="../images/t03.png" /></span>删除</li>
                    <li><span><img src="../images/t04.png" /></span>统计</li>
                </ul>
            </div>
            <table class="tablelist">
                <thead>
                    <tr>
                    <th>编号<i class="sort"><img src="../images/px.gif" /></i></th>
                    <th>用户名</th>
                    <th>密码</th>
                    </tr>
                </thead>
                <tbody>
                    <% result.forEach(function(item,index) { %>
                        <tr>
                            <td><%= (index+1) %></td>
                            <td><%= item.username %></td>
                            <td><%= item.password %></td>
                        </tr>
                    <%})%>  
                </tbody>
            </table> 

            <div class="pagin">
                <div class="message">共<i class="blue"> <%= result.length%> </i>条记录，当前显示第&nbsp;<i class="blue">1&nbsp;</i>页
                </div>
            </div>
                
                
            <!-- <div class="tip">
                <div class="tiptop"><span>提示信息</span><a></a></div>
                
                <div class="tipinfo">
                    <span><img src="../images/ticon.png" /></span>
                    <div class="tipright">
                    <p>是否确认对信息的修改 ？</p>
                    <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                    </div>
                    </div>
                    
                    <div class="tipbtn">
                    <input name="" type="button"  class="sure" value="确定" />&nbsp;
                    <input name="" type="button"  class="cancel" value="取消" />
                </div>
            
            </div> -->
        </div>           
    
    </div> 
</div>
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
    $(document).ready(function(){
      $(".click").click(function(){
          $(".tip").fadeIn(200);
          });
          
          $(".tiptop a").click(function(){
          $(".tip").fadeOut(200);
        });

          $(".sure").click(function(){
          $(".tip").fadeOut(100);
        });

          $(".cancel").click(function(){
          $(".tip").fadeOut(100);
        });

    });
</script>